name: ricochlime
description: Satisfying monster shooter
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.12.1+112010

environment:
  sdk: '>=3.10.0 <4.0.0'
  flutter: '>=3.38.0'

dependencies:
  cupertino_icons: ^1.0.2

  flame: ^1.8.1
  flame_forge2d: ^0.19.0

  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  flutter_soloud: ^3.4.8
  font_awesome_flutter: ^10.12.0

  forge2d: any

  google_fonts: ^6.1.0

  in_app_purchase: ^3.2.0
  logging: ^1.2.0

  mini_sprite: ^0.1.0

  nes_ui: ^0.27.0

  shared_preferences: ^2.2.0

  slang: ^4.11.2
  slang_flutter: any

  stow_codecs: ^1.0.0
  stow_plain: ^0.5.1

dev_dependencies:
  args: ^2.5.0

  flutter_lints: ^6.0.0

  flutter_test:
    sdk: flutter

  golden_screenshot: ^9.0.0

  icons_launcher: ^3.0.0

  intl: ^0.20.2

  simplytranslate: ^2.0.1
  yaml: ^3.1.2

flutter:
  uses-material-design: true

  assets:
    - assets/icon/icon.png
    - assets/images/
    - assets/google_fonts/Atkinson_Hyperlegible/
    - assets/google_fonts/Silkscreen/
    - assets/audio/bgm/
    - assets/audio/sfx/

# ./scripts/generate_icons.sh
icons_launcher:
  image_path: "assets/icon/icon.png"
  platforms:
    android:
      enable: true
      adaptive_background_color: "#3abe41"
      adaptive_foreground_image: "assets/icon/icon_adaptive.png"
      adaptive_monochrome_image: "assets/icon/icon_monochrome.png"
    ios:
      enable: true
      image_path: "assets/icon/icon_ios.png"
    linux:
      enable: true
    windows:
      enable: true
    macos:
      enable: true
      image_path: "assets/icon/icon_macos.png"
    web:
      enable: true
