[Desktop Entry]
Version=1.0
Type=Application

Name=Ricochlime
Name[kk]=Рикошырыш
Name[ru]=Рикоширыш
Comment=Satisfying monster shooter
Comment[kk]=Қанағаттанарлық құбыжық атқыш
Comment[ru]=Залипательная стрельба по монстрам
Categories=Game;Shooter;

Exec=app_icon
Icon=app_icon.png
Terminal=false
StartupWMClass=ricochlime
