name: Build for Android

on:
  workflow_dispatch:
  push:
    tags:
      - "**"
    branches:
      - "**"
    paths:
      - .github/workflows/android.yaml

jobs:
  build-android:
    name: Build for Android (${{ matrix.foss && 'FOSS' || 'Regular' }})
    strategy:
      fail-fast: false
      matrix:
        foss: [false, true]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup cache
        uses: actions/cache/restore@v4
        with:
          path: |
            .dart_tool/
            build/
            linux/flutter/ephemeral/
            macos/Flutter/ephemeral/
            windows/flutter/ephemeral/
            .flutter-plugins-dependencies
            pubspec.lock
          key: ${{ runner.OS }}-ricochlime-ubuntu-${{ hashFiles('**/pubspec.lock') }}-${{ hashFiles('**/*.dart') }}
          restore-keys: |
            ${{ runner.OS }}-ricochlime-ubuntu-

      - name: Remove proprietary dependencies
        run: ./patches/foss.sh
        if: matrix.foss

      - name: Remove dev dependencies
        run: ./patches/remove_dev_dependencies.sh

      - name: Setup keystore
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        if: ${{ env.SIGNING_KEY != '' }}
        run: |
          echo "${{ secrets.SIGNING_KEY }}" | base64 -d > android/android.keystore
          echo "storePassword=${{ secrets.KEY_STORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.ALIAS }}" >> android/key.properties
          echo "storeFile=../android.keystore" >> android/key.properties

      - name: Setup Flutter
        uses: adil192/setup-flutter-submodule@v1
        with:
          flutter-path: submodules/flutter

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'microsoft'
          java-version: '21'

      - name: Disable Flutter CLI animations
        run: flutter config --no-cli-animations

      - run: flutter pub get

      - name: Build apk
        run: flutter build apk

      - name: Rename apk
        id: rename_apk
        run: |
          buildName=$(grep "version: " pubspec.yaml | sed 's/version: //g' | sed 's/+.*//g')
          if [ "${{ matrix.foss }}" = "true" ]; then
            apkName="Ricochlime_FOSS_v${buildName}.apk"
          else
            apkName="Ricochlime_v${buildName}.apk"
          fi
          echo "apkName=$apkName" >> $GITHUB_OUTPUT

          mkdir -p output
          mv build/app/outputs/flutter-apk/app-release.apk output/$apkName

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.foss && 'Ricochlime-Android-FOSS' || 'Ricochlime-Android' }}
          path: output/${{ steps.rename_apk.outputs.apkName }}

      - name: Upload to GitHub release
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: output/${{ steps.rename_apk.outputs.apkName }}

      - name: Build aab
        if: ${{ matrix.foss == false }}
        run: flutter build appbundle

      - name: Rename aab
        if: ${{ matrix.foss == false }}
        run: |
          mkdir -p output
          mv build/app/outputs/bundle/release/app-release.aab output/Ricochlime.aab

      - name: Upload aab artifact
        if: ${{ matrix.foss == false }}
        uses: actions/upload-artifact@v4
        with:
          name: Ricochlime-Android-PlayStore
          path: output/Ricochlime.aab

  upload-to-play-store:
    name: Upload to Play Store
    runs-on: ubuntu-latest
    needs: build-android
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: Ricochlime-Android-PlayStore
          path: output

      - name: Prepare whatsnew directory from metadata/*/changelogs
        working-directory: ${{ github.workspace }}
        run: |
          # display changelogs for debugging
          find metadata -name '*.txt'

          mkdir -p whatsnew

          # get current version code from pubspec.yaml (the part after the +)
          VERSION_CODE=$(grep -oP '(?<=version: ).*' pubspec.yaml | grep -oP '(?<=\+).*$')

          # copy changelogs of each language to whatsnew
          for dir in metadata/*/changelogs; do
              # get language code from directory name
              # e.g. metadata/en-US/changelogs -> en-US
              lang=${dir#metadata/}
              lang=${lang%/changelogs}

              # copy changelog file to whatsnew
              cp "$dir/$VERSION_CODE.txt" "whatsnew/whatsnew-${lang}"
          done

      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_JSON }}
          packageName: com.adilhanney.ricochlime
          releaseFiles: output/Ricochlime.aab
          track: production
          status: completed
          whatsNewDirectory: whatsnew
