name: Build for iOS

# Using instructions from
# https://docs.flutter.dev/deployment/ios#create-a-build-archive-with-codemagic-cli-tools

on:
  # Enable manual run
  workflow_dispatch:
  push:
    tags:
      - '**'

jobs:
  get-version:
    name: Get version
    runs-on: ubuntu-latest
    outputs:
      buildName: ${{ steps.get_version.outputs.buildName }}
      buildNumber: ${{ steps.get_version.outputs.buildNumber }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get version
        id: get_version
        run: |
          # get buildName from pubspec.yaml (before the +)
          buildName=$(grep -oP '(?<=version: ).*(?=\+)' pubspec.yaml)
          echo "buildName=$buildName" >> $GITHUB_OUTPUT

          # get buildNumber from pubspec.yaml (after the +)
          buildNumber=$(grep -oP '(?<=version: ).*' pubspec.yaml | grep -oP '(?<=\+).*$')
          echo "buildNumber=$buildNumber" >> $GITHUB_OUTPUT

  build-ios:
    name: Build for iOS
    runs-on: macos-latest
    needs: get-version
    env:
      APP_STORE_CONNECT_ISSUER_ID: ${{secrets.APP_STORE_CONNECT_ISSUER_ID}}
      APP_STORE_CONNECT_KEY_IDENTIFIER: ${{secrets.APP_STORE_CONNECT_KEY_IDENTIFIER}}
      APP_STORE_CONNECT_PRIVATE_KEY: ${{secrets.APP_STORE_CONNECT_PRIVATE_KEY}}
      APP_STORE_CERTIFICATE_KEY: ${{secrets.APP_STORE_CERTIFICATE_KEY}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Xcode
        run: |
          echo "Selecting Xcode 26.1..."
          sudo xcode-select -s /Applications/Xcode_26.1.app
          xcode-select -p
          echo

          echo "Running Xcode first launch..."
          xcodebuild -runFirstLaunch
          echo

          echo "Downloading iOS platform files..."
          xcodebuild -downloadPlatform iOS -version 26.1
          echo

      - name: Setup Flutter
        uses: adil192/setup-flutter-submodule@v1
        with:
          flutter-path: submodules/flutter

      - name: Install Codemagic CLI Tools
        run: pipx install codemagic-cli-tools

      - name: Setup keychain
        run: |
          keychain initialize

          app-store-connect fetch-signing-files com.adilhanney.ricochlime \
            --platform IOS \
            --type IOS_APP_STORE \
            --certificate-key=@env:APP_STORE_CERTIFICATE_KEY \
            --create

          keychain add-certificates

          xcode-project use-profiles --project ios/*.xcodeproj

      - name: Remove dev dependencies
        run: ./patches/remove_dev_dependencies.sh
      - run: flutter pub get
      - name: Remove wasm libs
        run: ./patches/remove_wasm_libs.sh

      - name: Build for iOS
        id: build
        run: |
          flutter build ipa --no-pub \
            --export-options-plist=$HOME/export_options.plist

          export ipaPath="Ricochlime_v${{ needs.get-version.outputs.buildName }}.ipa"
          mv "$(find $(pwd) -name "*.ipa")" "$ipaPath"
          echo "ipaPath=$ipaPath" >> $GITHUB_OUTPUT
        env:
          NO_OPUS_OGG_LIBS: "1"

      - name: Restore keychain
        run: |
          keychain use-login

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: Ricochlime-iOS-Archive
          path: ${{ steps.build.outputs.ipaPath }}

      - name: Publish to App Store
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: app-store-connect publish --path ${{ steps.build.outputs.ipaPath }}
