name: Build for Linux

on:
  # Enable manual run
  workflow_dispatch:
  push:
    tags:
      - "**"
    branches:
      - "**"
    paths:
      - .github/workflows/linux.yml
      - appimage/AppImageBuilder.yml

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - runs-on: ubuntu-latest
            cache-name: ricochlime
            target-platform: linux-x64
            flutter-output-folder: build/linux/x64/release/bundle
            archive-suffix: x86_64
            linuxdeploy-exe: linuxdeploy-x86_64.AppImage
          - runs-on: ubuntu-24.04-arm
            cache-name: ricochlimearm64
            target-platform: linux-arm64
            flutter-output-folder: build/linux/arm64/release/bundle
            archive-suffix: arm64
            linuxdeploy-exe: linuxdeploy-aarch64.AppImage
    runs-on: ${{ matrix.arch.runs-on }}
    permissions:
      contents: write
    timeout-minutes: 20
    name: Build Linux (${{ matrix.arch.target-platform }})
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install apt dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev cmake ninja-build libjsoncpp-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev gstreamer1.0-plugins-good libunwind-dev libasound2-dev
          version: 1.0
          execute_install_scripts: true

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: |
            .dart_tool/
            build/
            linux/flutter/ephemeral/
            macos/Flutter/ephemeral/
            windows/flutter/ephemeral/
            .flutter-plugins-dependencies
          key: ${{ runner.OS }}-${{ matrix.arch.cache-name }}-${{ hashFiles('**/pubspec.lock') }}-${{ hashFiles('**/*.dart') }}
          restore-keys: |
            ${{ runner.OS }}-${{ matrix.arch.cache-name }}-

      - name: Setup Flutter
        uses: adil192/setup-flutter-submodule@v1
        with:
          flutter-path: submodules/flutter

      - name: Disable Flutter CLI animations
        run: flutter config --no-cli-animations

      - name: Remove dev dependencies
        run: ./patches/remove_dev_dependencies.sh
      - name: Remove proprietary dependencies
        run: ./patches/foss.sh
      - run: flutter pub get
      - name: Remove wasm libs
        run: ./patches/remove_wasm_libs.sh

      - name: Build Linux (${{ matrix.arch.target-platform }})
        run: |
          flutter build linux --no-pub \
            --target-platform ${{ matrix.arch.target-platform }}

      - name: Compress Flutter build
        id: compress
        run: |
          buildName=$(grep -oP '(?<=version: ).*(?=\+)' pubspec.yaml)
          archiveName="Ricochlime_v${buildName}_Linux_${{ matrix.arch.archive-suffix }}.tar.gz"
          echo "archiveName=$archiveName" >> $GITHUB_OUTPUT

          mkdir -p AppDir
          mv ${{ matrix.arch.flutter-output-folder }}/* AppDir
          chmod +x AppDir/ricochlime

          install -Dm644 flatpak/com.adilhanney.ricochlime.metainfo.xml -t AppDir/share/metainfo/
          install -Dm644 assets/icon/resized/icon-512x512.png AppDir/share/icons/hicolor/512x512/apps/com.adilhanney.ricochlime.png
          install -Dm644 flatpak/com.adilhanney.ricochlime.desktop -t AppDir/share/applications/

          tar -C AppDir -czvf $archiveName .

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: Ricochlime-Archive-${{ matrix.arch.archive-suffix }}
          path: ${{ steps.compress.outputs.archiveName }}

      - name: Upload to GitHub release
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.compress.outputs.archiveName }}

      # Now build AppImage

      - name: Install FUSE
        run: |
          sudo add-apt-repository universe
          sudo apt-get install libfuse2t64
      
      - name: Prepare AppDir for AppImage
        run: |
          rm -rf linux/AppImage/AppDir/
          mkdir -p linux/AppImage/AppDir/usr/bin/
          cp -R AppDir/* linux/AppImage/AppDir/usr/bin/
          mv linux/AppImage/AppDir/usr/bin/share linux/AppImage/AppDir/usr/
          echo "LD_LIBRARY_PATH=$(pwd)/linux/AppImage/AppDir/usr/bin/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
          echo 'UPDATE_INFORMATION=gh-releases-zsync|adil192|ricochlime|latest|Ricochlime-*-${{ matrix.arch.archive-suffix }}.AppImage.zsync' >> $GITHUB_ENV
      - name: Install linuxdeploy
        working-directory: linux/AppImage
        run: |
          wget https://github.com/linuxdeploy/linuxdeploy/releases/latest/download/${{ matrix.arch.linuxdeploy-exe }}
          chmod +x ${{ matrix.arch.linuxdeploy-exe }}
      - name: Build AppImage
        working-directory: linux/AppImage
        run: ./${{ matrix.arch.linuxdeploy-exe }} --appdir AppDir --output appimage

      - run: tree linux/AppImage -L 3

      - name: Rename AppImage
        run: |
          buildName=$(grep -oP '(?<=version: ).*(?=\+)' pubspec.yaml)
          mv linux/AppImage/Ricochlime-*.AppImage       linux/AppImage/Ricochlime-${buildName}-${{ matrix.arch.archive-suffix }}.AppImage
          mv linux/AppImage/Ricochlime-*.AppImage.zsync linux/AppImage/Ricochlime-${buildName}-${{ matrix.arch.archive-suffix }}.AppImage.zsync
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: AppImage artifact (${{ matrix.arch.target-platform }})
          path: linux/AppImage/Ricochlime-*.AppImage*

      - name: Upload to GitHub release
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: linux/AppImage/Ricochlime-*.AppImage*
          file_glob: true
