name: Build for Linux

on:
  # Enable manual run
  workflow_dispatch:
  push:
    tags:
      - "**"
    branches:
      - "**"
    paths:
      - .github/workflows/linux.yml
      - appimage/AppImageBuilder.yml

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - runs-on: ubuntu-latest
            cache-name: ricochlime
            target-platform: linux-x64
            flutter-output-folder: build/linux/x64/release/bundle
            archive-suffix: x86_64
          - runs-on: ubuntu-24.04-arm
            cache-name: ricochlimearm64
            target-platform: linux-arm64
            flutter-output-folder: build/linux/arm64/release/bundle
            archive-suffix: arm64
    runs-on: ${{ matrix.arch.runs-on }}
    permissions:
      contents: write
    timeout-minutes: 20
    name: Build Linux (${{ matrix.arch.target-platform }})
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install apt dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev cmake ninja-build libjsoncpp-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev gstreamer1.0-plugins-good libunwind-dev
          version: 1.0
          execute_install_scripts: true

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: |
            .dart_tool/
            build/
            linux/flutter/ephemeral/
            macos/Flutter/ephemeral/
            windows/flutter/ephemeral/
            .flutter-plugins-dependencies
            pubspec.lock
          key: ${{ runner.OS }}-${{ matrix.arch.cache-name }}-${{ hashFiles('**/pubspec.lock') }}-${{ hashFiles('**/*.dart') }}
          restore-keys: |
            ${{ runner.OS }}-${{ matrix.arch.cache-name }}-

      - name: Remove dev dependencies
        run: ./patches/remove_dev_dependencies.sh
      - name: Remove proprietary dependencies
        run: ./patches/foss.sh

      - name: Setup Flutter
        uses: adil192/setup-flutter-submodule@v1
        with:
          flutter-path: submodules/flutter

      - name: Disable Flutter CLI animations
        run: flutter config --no-cli-animations

      - run: flutter pub get

      - name: Build Linux (${{ matrix.arch.target-platform }})
        run: |
          flutter build linux \
            --target-platform ${{ matrix.arch.target-platform }}

      - name: Compress Flutter build
        id: compress
        run: |
          buildName=$(grep -oP '(?<=version: ).*(?=\+)' pubspec.yaml)
          archiveName="Ricochlime_v${buildName}_Linux_${{ matrix.arch.archive-suffix }}.tar.gz"
          echo "archiveName=$archiveName" >> $GITHUB_OUTPUT

          mkdir -p AppDir
          mv ${{ matrix.arch.flutter-output-folder }}/* AppDir
          chmod +x AppDir/ricochlime

          install -Dm644 flatpak/com.adilhanney.ricochlime.metainfo.xml -t AppDir/share/metainfo/
          install -Dm644 flatpak/com.adilhanney.ricochlime.metainfo.xml -t AppDir/usr/share/metainfo/

          mkdir -p AppDir/usr/share/icons/hicolor/512x512/apps
          install -Dm644 assets/icon/resized/icon-512x512.png AppDir/share/icons/hicolor/512x512/apps/com.adilhanney.ricochlime.png
          install -Dm644 assets/icon/resized/icon-512x512.png AppDir/usr/share/icons/hicolor/512x512/apps/com.adilhanney.ricochlime.png

          install -Dm644 flatpak/com.adilhanney.ricochlime.desktop -t AppDir/share/applications/

          tar -C AppDir -czvf $archiveName .

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: Ricochlime-Archive-${{ matrix.arch.archive-suffix }}
          path: ${{ steps.compress.outputs.archiveName }}

      - name: Upload to GitHub release
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.compress.outputs.archiveName }}

  build-appimage:
    name: Build AppImage
    needs: build-linux
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install AppImage dependencies
        run: |
          sudo add-apt-repository universe
          sudo apt install libfuse2

      - name: Download app archive
        uses: actions/download-artifact@v6
        with:
          name: Ricochlime-Archive-x86_64

      - name: Rename app archive
        run: |
          mv Ricochlime_*.tar.gz Ricochlime-Linux-Portable.tar.gz

      - name: Install appimage-builder
        run: |
          sudo pip3 install --ignore-installed git+https://github.com/AppImageCrafters/appimage-builder.git

      - name: Prepare build files
        working-directory: appimage
        run: |
          mkdir AppDir
          tar -xzvf ../Ricochlime-Linux-Portable.tar.gz -C AppDir

      - name: Set AppImage version
        working-directory: appimage
        run: |
          # replace line with "version: latest" with "version: $buildName"
          buildName=$(grep -oP '(?<=version: ).*(?=\+)' ../pubspec.yaml)
          sed -i "s/version: latest/version: ${buildName}/" AppImageBuilder.yml

      - name: Build AppImage
        working-directory: appimage
        run: |
          appimage-builder --skip-test

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: AppImage artifact
          path: appimage/Ricochlime-*-x86_64.AppImage*

      - name: Upload to GitHub release
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: appimage/Ricochlime-*-x86_64.AppImage*
          file_glob: true

  build-flatpak:
    name: Build Flatpak
    needs: build-linux
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-24.08
      options: --privileged
    steps:
      - name: Checkout flathub repo
        uses: actions/checkout@v5
        with:
          repository: flathub/com.adilhanney.ricochlime
          submodules: recursive

      - name: Download app archive
        uses: actions/download-artifact@v6
        with:
          name: Ricochlime-Archive-x86_64

      - name: Rename app archive
        run: |
          mv Ricochlime_*.tar.gz Ricochlime_snapshot.tar.gz

      - name: Patch manifest to use local archive
        run: |
          # Add --no-same-owner to tar in build-commands
          jq '.modules? |= map(if type=="object" and .name=="ricochlime" then .["build-commands"] |= map(if type=="string" then sub("tar -xf "; "tar --no-same-owner -xf ") else . end) else . end)' com.adilhanney.ricochlime.json > tmp.json && mv tmp.json com.adilhanney.ricochlime.json

          # Replace sources with local archive
          jq '.modules[]? |= if type=="object" and .name=="ricochlime" then .sources = [ {"type":"file","path":"./Ricochlime_snapshot.tar.gz"} ] else . end' com.adilhanney.ricochlime.json > tmp.json && mv tmp.json com.adilhanney.ricochlime.json

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: Ricochlime_snapshot.flatpak
          manifest-path: com.adilhanney.ricochlime.json
          upload-artifact: true
