name: Tests

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        patch: [regular, foss]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - name: Setup cache (restore only)
        if: ${{ matrix.patch == 'foss' }}
        uses: actions/cache/restore@v5
        with:
          path: |
            .dart_tool/
            build/
            linux/flutter/ephemeral/
            macos/Flutter/ephemeral/
            windows/flutter/ephemeral/
            .flutter-plugins-dependencies
          key: ${{ runner.OS }}-ricochlime-ubuntu-${{ hashFiles('**/pubspec.lock') }}-${{ hashFiles('**/*.dart') }}
          restore-keys: |
            ${{ runner.OS }}-ricochlime-ubuntu-

      - name: Setup cache (restore and save)
        if: ${{ matrix.patch == 'regular' }}
        uses: actions/cache@v5
        with:
          path: |
            .dart_tool/
            build/
            linux/flutter/ephemeral/
            macos/Flutter/ephemeral/
            windows/flutter/ephemeral/
            .flutter-plugins-dependencies
          key: ${{ runner.OS }}-ricochlime-ubuntu-${{ hashFiles('**/pubspec.lock') }}-${{ hashFiles('**/*.dart') }}
          restore-keys: |
            ${{ runner.OS }}-ricochlime-ubuntu-

      - name: Setup Flutter
        uses: adil192/setup-flutter-submodule@v1
        with:
          flutter-path: submodules/flutter

      - name: FOSS patches
        if: ${{ matrix.patch == 'foss' }}
        run: |
          ./patches/foss.sh

      - run: flutter pub get

      - name: Run tests
        run: flutter test --no-pub --coverage

      - name: Upload coverage reports to Codecov
        if: ${{ matrix.patch == 'regular' }}
        uses: codecov/codecov-action@v5
        with:
          files: coverage/lcov.info
